/* CSS Apppy */
/* By Pedro Jiménez */
/* 2019 */

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';

@import 'components/badges';
@import 'components/breadcrumb';
@import 'components/buttons';
@import 'components/cards';
@import 'components/charts';
@import 'components/dragging';
@import 'components/forms';
@import 'components/friso';
@import 'components/questions';
@import 'components/messages';
@import 'components/modals';
@import 'components/lists';
@import 'components/media';
@import 'components/tabs';

@import 'pages/courses';
@import 'pages/landing';

// Animations

.spinner-white {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    animation: rotate 0.8s infinite linear;
    border: 3px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}
  
@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

@-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100%, 0);
      visibility: visible; }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); } }
  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100%, 0);
      visibility: visible; }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); } }
  
  .slideInDown {
    -webkit-animation: slideInDown 1s;
            animation: slideInDown 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; 
}


html {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    font-size: 100%;
}

@media (min-width: 1440px) {
    html {
        font-size: 110%; 
    }
}

@media (max-width: 440px) {
    html {
        font-size: 90%; 
    }
}

body {
    font-family: $fuente;
    color: $gris-oscuro;
    background-color: white !important;
}

hr {
    border: none;
    height: 1px;
    margin: 0 1em;
    background-color: $gris-claro;
}

h1 {
    font-size: 2em;
    line-height: 1.5;
    font-family: $titulo;
}

h2 {
    font-size: 1.2em;
    line-height: 1.5;
}

p {
    font-size: 1em;
    line-height: 1.5;
    padding: 0.5em 0;
}

b {
    color: $rojo;
}

img {
    max-width: 100%;
}



