#modal-resume {
    background: white;
    border: 1px solid $rojo;
    border-radius: 4px;
    min-width: 350px;
    min-height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 210;
    padding: 20px;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  
  #modal-resume span {
    align-self: flex-end;
    color: rgba(25, 28, 31, 0.5);
    font-size: 40px;
    cursor: pointer;
  }
  
  #modal-resume div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  #modal-resume.show {
    display: flex;
  }
  
  #modal-resume.visible {
    opacity: 1;
  }