$verde-oscuro: #004f52;
$verde: #008489;
$gris-claro: #DDDDDD;
$gris-oscuro: #67666e;
$gris-oscuro-80: rgba(103, 102, 111, 0.7);
$gris: #747474;
$gris-claro: #ededed;
$rojo: #cc0000;
$rojo-80: rgba(204, 0, 0, 0.80);
$rojo-hover: #8f0404;
$azul: #16248e;
$azul-hover: #0f185c;
$amarillo: #ffb822;
$fuente: 'Roboto', sans-serif;
$titulo: 'BebasNeue', sans-serif;